<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="{% url 'todos:update' todo.id %}" method="post">
        {% csrf_token %}
        <h1>Todo Detail View</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <div>
            <h3>Current todo:
                <input type="text" name="todo_text" id="todo_text" value="{{todo.todo_text}}"><br>
            </h3>
            Created on: {{ todo.creation_date }}
        </div>
        <label for="job-rank">Job Rank:</label><br>
        <input type="number" name="job_rank" id="job-rank" value="{{todo.job_rank}}"><br>
        <label for="imp-rank">Importance Rank:</label><br>
        <input type="number" name="imp_rank" id="imp-rank" value="{{todo.imp_rank}}"><br>
        Prio: {{ todo.prio }} <br>
        <input type="submit" value="Update">
    </form>

</body>

</html>